.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: 208px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}
.notificationBarInner{
  background: #7B6C55;
  color: white;
  font-weight: 100;
  
}
.notificationBarContainer{
  text-decoration:none; 
}
:global(.vtex-store-components-3-x-autoCompleteOuterContainer){
  border: 0px;
  border-bottom: 1px solid #000;
}
:global(.vtex-input-prefix__group){
  border: 0px;
}
.searchBarIcon--search {
  color: #C8AF87;
}
.flexRowContent--deals{
  max-width: 1260px;
    margin: 0 auto;
}
:global(.vtex-styleguide-9-x-noAppearance){

  font-size: 13px;
  font: normal normal normal 13px Poppins Light;
  letter-spacing: 0.6px;
  color: #000000;
}
.openIconContainer{
  padding: 0px;
}
:global(.vtex-store-components-3-x-imageElement--carousel){

  left: 0px;
  width: 1920px;
  opacity: 1;
  z-index: 29;
  height: 511px;
}
:global(.vtex-store-components-3-x-searchBarContainer){
  max-width: 187px;
  width: 100%;
}
