@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}


@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}